<% @allotherPostDash.each do |post| %>
    <div class="col-sm-4" style="padding:10px">
        <div class="col-sm-12" style="background-color:white">
            <h5 style="color:blue"><span style="color:red">Title: </span>
                <%=post.title%></h5>
            <p style="color:black">Date Created : <%=post.created_at.strftime("%B %d, %Y - %T %p")%></p></p>
            <%
                auth = User.find(post.userid)
            %>
            <p style="color:red">Project By : <%=auth.authorname %></p>
            <p><%=post.description.to_s[0..300].concat("...")%></p>
                <%= link_to readOfflineProjectPage_path(view: post.projectid) do %>
                    <span class='btn btn-primary btn-medium'> 
                    View Project</span>
                <%end%> 
            <p>
        </div>
    </div>
<%end%>
<% if @noOfPage > 1 %>
    <div class="col-sm-12">
        <ul class="pagination  pagination-lg">
            <% if @hasPrev %>
                <li class="page-item">
                    <%= link_to "Previous", projectPage_path(page: @current_page - 1),:class=>"page-link" %>
                </li>
            <%end%>
            <% 
                page = 1
                while page <= @noOfPage
                    if @current_page == page
            %>
                        <li class="page-item active">
                            <%= link_to page, projectPage_path(page: page),:class=>"page-link" %>
                        </li>
                        
                    <%else%>
                        <li class="page-item">
                            <%= link_to page, projectPage_path(page: page),:class=>"page-link" %>
                        </li>
            <%
                    end
                    page = page + 1
                end
            %>
            <% if @hasNext %>
                <li class="page-item">
                    <%= link_to "Next", projectPage_path(page: @current_page + 1),:class=>"page-link" %>
                </li>
            <%end%>
        </ul>
    </div>
<%end%>
