
    <body style="background-color: gainsboro;">
    <%= render "account/nav" %>
        <div class="container-fluid mx-auto" style="background-color: white; padding: 10px;width: 95%;margin-top:60px;padding-bottom:10%">
            <div class="row" style="background-color: gainsboro; margin:5px">
                <div id="work">
                    <span class='fas fa-th-list btn btn-danger' data-toggle="collapse" data-target="#menus"></span>
                    <div id="menus" class="collapse">
                        <%= render "account/leftNav" %>
                    </div>
                </div>
                <div class="col-sm-8" style="background-color: white; padding: 10px;">
                    <div class="col-sm-12"> 
                        <h5 style="padding:10px;background-color:beige;">Manage Project Tasks</h5>
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <p>Project : <%=@project[0].project.title%> 
                                <%= link_to readProjectPage_path(view: @project[0].project.projectid), :class=>"btn btn-info btn btn-large", :title=>"Read / Open Project" do %>
                                    <span class='fas fa-eye'></span>
                                <%end%> <p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    </div>
                    <div class="col-sm-12">
                        <h5 style="padding:10px;background-color:beige;">Edit Project Task</h5>
                            <div class="row">
                                <div style="width:10%;padding:15px">
                                    <%if ! @users.passport.attached? %>
                                        <img data-toggle="modal" src="/def_passport.jpg"  width="60px" 
                                        class="rounded-circle img-thumbnail" />
                                    <% else %>
                                        <%= image_tag @users.passport , :width=>"60px" , :class => "rounded-circle img-thumbnail" %>
                                    <%end%> 
                                </div>
                                <div style="width:90%; border-radius:30px;padding:15px">
                                    <%= form_with(url: updateTask_path, method:'post', :html=>{:class=>'form-horizontal'}, local: true) do |f| %>
                                        <%= hidden_field_tag 'taskid', @project[0].id %>
                                        <%= hidden_field_tag 'projectid', @project[0].project.projectid %>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <%= f.text_area :description, :class =>"form-control", :value=>@project[0].description, placeholder: "Enter Task Description", size: "24x5" %>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <%= f.submit "Update Task", :class=>"btn btn-primary btn btn-large" %>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-sm-4 bg-light"> 
                    <%= render "account/leftNavPost" %>
                </div>
            </div>
        </div>
        <%= render "welcome/footer" %>  
    </body>
</html>