<h4 style="padding: 10px;background-color:beige;">ALL MEMBERS PROJECTS</h4>
<div class="row">
<% @allotherPostDash.each do |post| %>
    <%  getPost = Project.find_by("projectid = :projectid and status = :status", { projectid: post.projectid, status: "0" })
        if getPost %>
            <div class="col-sm-6" style="background-color: white; padding: 10px;"> 
                    <div class="col-sm-12">
                        <p style="padding: 10px;background-color:beige;">
                            <%    users = User.find(getPost.userid)
                                if ! users.passport.attached? %>
                                    <img data-toggle="modal" src="/def_passport.jpg"  width="60px" 
                                    class="rounded-circle img-thumbnail" />
                                <% else %>
                                    <%= image_tag users.passport , :width=>"60px" , :class => "rounded-circle img-thumbnail" %>
                                <%end%> 
                                <%=users.authorname%>
                        </p>
                        <div class="col-sm-12">
                            <h5 style="color:blue"><%=simple_format(getPost.title)%></h5>
                            <p style="color:black"><span class="fas fa-calendar-alt"></span> <%=getPost.created_at.strftime("%B %d, %Y - %T %p")%></p>
                            <p style="color:black"><%=getPost.description.to_s[0..200]%>...</p>
                        </div>
                        <div class="col-sm-12" style="padding: 10px;background-color:beige;">
                            <h2>
                                <%if post.rea%>
                                    <%= link_to readProjectPage_path(view: getPost.projectid), :class=>"btn btn-info btn btn-large", :title=>"Read / Open Project" do %>
                                        <span class='fas fa-eye'></span>
                                    <%end%>
                                <%end%>
                                <%if post.edi or post.wri %>
                                    <%= link_to prepEditproject_path(view: getPost.projectid), :class=>"btn btn-primary btn btn-large", :title=>"Edit Project" do %>
                                        <span class='fas fa-edit'></span>
                                    <%end%>
                                    <%= link_to addTask_path(view: getPost.projectid), :class=>"btn btn-success btn btn-large", :title=>"Add Task To Project" do %>
                                        <span class='fas fa-paper-plane'></span>
                                    <%end
                                else%>
                                    <%= link_to viewAllTask_path(view: getPost.projectid), :class=>"btn btn-primary btn btn-large", :title=>"View Project Task" do %>
                                        <span class='fas fa-tasks'></span>
                                    <%end
                                end%>
                                <%= link_to addAttachment_path(view: getPost.projectid), :class=>"btn btn-warning btn btn-large", :title=>"Add Attachment To Project" do %>
                                    <span class='fas fa-paperclip'></span>
                                <%end%>
                                <%= link_to viewProjectUsers_path(proj: getPost.projectid), :class=>"btn btn-success btn btn-large", :title=>"View Project Users" do %>
                                    <span class='fas fa-user-check'></span>
                                <%end%>
                                <%= link_to viewProjectThread_path(view: getPost.projectid), :class=>"btn btn-info btn btn-large", :title=>"Follow Project Threads" do %>
                                    <span class='fas fa-comment-alt'></span>
                                <%end%>
                                <%if post.del %>
                                    <%= link_to prepDeleteproject_path(view: getPost.projectid) , :title=>"Delete Project",
                                        data: {Confirm: "Are You Sure You want To Delete \nProject Titled - #{getPost.title} ? \nPlease Confirm.", 
                                            title: "Confirm Deletion"},:class=>"btn btn-danger btn btn-large" do %>
                                        <span class='fas fa-trash-alt'></span>
                                    <%end%>
                                <%end%>
                            </h2>
                        </div>
                    </div>
            </div>
        <%end%>
    <%end%>
</div>   
<% if @noOfPage > 1 %>
    <div class="col-sm-12">
        <ul class="pagination  pagination-lg">
            <% if @hasPrev %>
                <li class="page-item">
                    <%= link_to "Previous", allProjectPage_path(page: @current_page - 1),:class=>"page-link" %>
                </li>
            <%end%>
            <% 
                page = 1
                while page <= @noOfPage
                    if @current_page == page
            %>
                        <li class="page-item active">
                            <%= link_to page, allProjectPage_path(page: page),:class=>"page-link" %>
                        </li>
                        
                    <%else%>
                        <li class="page-item">
                            <%= link_to page, allProjectPage_path(page: page),:class=>"page-link" %>
                        </li>
            <%
                    end
                    page = page + 1
                end
            %>
            <% if @hasNext %>
                <li class="page-item">
                    <%= link_to "Next", allProjectPage_path(page: @current_page + 1),:class=>"page-link" %>
                </li>
            <%end%>
        </ul>
    </div>
<%end%>