
    <body style="background-color: gainsboro; text-align: justify;">
    <%= render "nav" %>
        <div class="container-fluid mx-auto" style="background-color: white; padding: 10px;width: 95%;margin-top:60px">
            <div class="row" style="background-color: gainsboro; margin:5px">
                <div id="work">
                    <span class='fas fa-th-list btn btn-danger' data-toggle="collapse" data-target="#menus"></span>
                    <div id="menus" class="collapse">
                        <%= render "leftNav" %>
                    </div>
                </div>
                <div class="col-sm-8" style="background-color: white; padding: 10px;">
                    <div class="col-sm-12">
                        <h5 style="color:blue"><span style="color:red">Title: </span><%=simple_format(@project['title'])%></h5>
                        <p style="color:black">Created By : <%=@author['authorname'].to_s.upcase %></p>
                        <p style="color:black">Date Created : <%=@project['created_at'].strftime("%B %d, %Y - %T %p")%></p>
                        <% 
                            if @project['userid'] != session[:authid] #if you are not the owner of the post apply rstrictions
                                getPost = ProjectUser.find_by("projectid = :projectid and userid = :userid", { projectid: @project['projectid'], userid: session[:authid] })
                                if getPost
                        %>
                                    <h2>
                                    <%if getPost.edi or getPost.wri %>
                                        <%= link_to prepEditproject_path(view: getPost.projectid), :class=>"btn btn-primary btn btn-large", :title=>"Edit Project" do %>
                                            <span class='fas fa-edit'></span>
                                        <%end%>
                                        <%= link_to addAttachment_path(view: getPost.projectid), :class=>"btn btn-warning btn btn-large", :title=>"Add Attachment To Project" do %>
                                            <span class='fas fa-paperclip'></span>
                                        <%end%>
                                    <%end%>
                                    <%= link_to viewProjectUsers_path(proj: getPost.projectid), :class=>"btn btn-success btn btn-large", :title=>"View Project Users" do %>
                                        <span class='fas fa-user-check'></span>
                                    <%end%>
                                    <%= link_to viewProjectThread_path(view: getPost.projectid), :class=>"btn btn-info btn btn-large", :title=>"Follow Project Threads" do %>
                                        <span class='fas fa-comment-alt'></span>
                                    <%end%>
                                    <%if getPost.del %>
                                        <%= link_to prepDeleteproject_path(view: getPost.projectid) , :title=>"Delete Project",
                                            data: {Confirm: "Are You Sure You want To Delete \nProject Titled - #{@project['title']} ? \nPlease Confirm.", 
                                                title: "Confirm Deletion"},:class=>"btn btn-danger btn btn-large" do %>
                                            <span class='fas fa-trash-alt'></span>
                                        <%end%>
                                    <%end%> 
                                    </h2>          
                                <%end%>
                            <%else%>
                                <h2>
                                    <%= link_to readProjectPage_path(view: @project['projectid']), :class=>"btn btn-info btn btn-large", :title=>"Read / Open Project" do %>
                                        <span class='fas fa-eye'></span>
                                    <%end%>
                                    <%= link_to prepEditproject_path(view: @project['projectid']), :class=>"btn btn-primary btn btn-large", :title=>"Edit Project" do %>
                                        <span class='fas fa-edit'></span>
                                    <%end%>
                                    <%= link_to addUserproject_path(proj: @project['projectid']), :class=>"btn btn-success btn btn-large", :title=>"Add Users To Project" do %>
                                        <span class='fas fa-user-edit'></span>
                                    <%end%>
                                    <%= link_to addAttachment_path(view: @project['projectid']), :class=>"btn btn-warning btn btn-large", :title=>"Add Attachment To Project" do %>
                                        <span class='fas fa-paperclip'></span>
                                    <%end%>
                                    <%= link_to createThread_path(view: @project['projectid']), :class=>"btn btn-info btn btn-large", :title=>"Add Thread To Project" do %>
                                        <span class='fas fa-comment-alt'></span>
                                    <%end%>
                                    <%= link_to prepDeleteproject_path(view: @project['projectid']) , :title=>"Delete Project",
                                        data: {Confirm: "Are You Sure You want To Delete \nProject Titled - #{@project['title']} ? \nPlease Confirm.", 
                                            title: "Confirm Deletion"},:class=>"btn btn-danger btn btn-large" do %>
                                        <span class='fas fa-trash-alt'></span>
                                    <%end%>
                                </h2>
                            <%end%>
                            <p><%=simple_format(@project['description']) %></p>
                   </div>
                   <div class="col-sm-12">
                        <h6 style="padding: 5px;background-color:beige;">ATTACHMENTS</h6>
                        <%  @projectAttach.each do |thr|
                            users = User.find(thr.userid)
                            g = ProjectAttached.find(thr.id)
                        %>
                                <div class="row">
                                    <div style="width:10%;padding:15px">
                                        <%if ! users.passport.attached? %>
                                            <img data-toggle="modal" src="/def_passport.jpg"  width="60px" 
                                            class="rounded-circle img-thumbnail" />
                                        <% else %>
                                            <%= image_tag users.passport , :width=>"60px" , :class => "rounded-circle img-thumbnail" %>
                                        <%end%> 
                                    </div>
                                    <div style="width:90%; border-radius:30px;padding:15px">
                                        <p> <%=users.authorname%> | <%=users.email%> | 
                                            <span class="fas fa-calendar-alt" style="color:black"></span> <%=thr.created_at.strftime("%B %d, %Y - %T %p")%>
                                            <br><%=simple_format(thr.comment)%>
                                        </p>
                                       <% g.images.each do |sherif|%>
                                            <p><span class="fas fa-paperclip"></span> <%= sherif.filename%> 
                                            
                                            <%= link_to rails_blob_path(sherif, disposition: "preview"), target: "_blank", :title=>"View / Download File" do %>
                                                <span class='fas fa-cloud-download-alt'></span>
                                            <%end%>

                                            <%if users.userid == session[:authid] or users.userid == @project['userid'] %>
                                                <%= link_to removeAttachment_path(view: sherif.id, projectid: @project['projectid'] ) , :title=>"Delete File",
                                                    data: {Confirm: "Are You Sure You want To Delete \nFile - #{sherif.filename} ? \nPlease Confirm.", 
                                                        title: "Confirm Deletion"} do %>
                                                    <span class='fas fa-trash-alt' style='color:red'></span>
                                                <%end%>
                                            <%end%>
                                            

                                            </p> 
                                        <%end%>
                                    </div>
                                </div>
                                <hr/>
                        <%end%>
                   </div>
                </div>
                <div class="col-sm-4 bg-light"> 
                    <%= render "leftNavPost" %>
                </div>
            </div>
        </div>

    </body>
</html>
