
    <body style="background-color: gainsboro; text-align: justify;">
    <%= render "nav" %>
        <div class="container-fluid mx-auto" style="background-color: white; padding: 10px;width: 95%;margin-top:60px">
            <div class="row" style="background-color: gainsboro; margin:5px">
                <div id="work">
                    <span class='fas fa-th-list btn btn-danger' data-toggle="collapse" data-target="#menus"></span>
                    <div id="menus" class="collapse">
                        <%= render "leftNav" %>
                    </div>
                </div>
                <div class="col-sm-8" style="background-color: white; padding: 10px;">
                    <div class="col-sm-12">
                        <h5 style="color:blue"><span style="color:red">Title: </span><%=simple_format(@project['title'])%></h5>
                        <p style="color:black">Created By : <%=@author['authorname'].to_s.upcase %></p>
                        <p style="color:black">Date Created : <%=@project['created_at'].strftime("%B %d, %Y - %T %p")%></p>
                        <% 
                            if @project['userid'] != session[:authid] #if you are not the owner of the post apply rstrictions
                                getPost = ProjectUser.find_by("projectid = :projectid and userid = :userid", { projectid: @project['projectid'], userid: session[:authid] })
                                if getPost
                        %>
                                    <h2>
                                    
                                    <%= link_to addAttachment_path(view: getPost.projectid), :class=>"btn btn-warning btn btn-large", :title=>"Add Attachment To Project" do %>
                                        <span class='fas fa-paperclip'></span>
                                    <%end%>
                                    <%= link_to viewProjectUsers_path(proj: getPost.projectid), :class=>"btn btn-success btn btn-large", :title=>"View Project Users" do %>
                                        <span class='fas fa-user-check'></span>
                                    <%end%>
                                    <%= link_to viewProjectThread_path(view: getPost.projectid), :class=>"btn btn-info btn btn-large", :title=>"Follow Project Threads" do %>
                                        <span class='fas fa-comment-alt'></span>
                                    <%end%>
                                    <%if getPost.edi or getPost.wri %>
                                        <%= link_to prepEditproject_path(view: getPost.projectid), :class=>"btn btn-primary btn btn-large", :title=>"Edit Project" do %>
                                            <span class='fas fa-edit'></span>
                                        <%end%>
                                        <%= link_to addTask_path(view: getPost.projectid), :class=>"btn btn-success btn btn-large", :title=>"Add Task To Project" do %>
                                            <span class='fas fa-paper-plane'></span>
                                        <%end
                                    else%>
                                        <%= link_to viewAllTask_path(view: getPost.projectid), :class=>"btn btn-primary btn btn-large", :title=>"View Project Task" do %>
                                            <span class='fas fa-tasks'></span>
                                        <%end
                                    end%>
                                    <%if getPost.del %>
                                        <%= link_to prepDeleteproject_path(view: getPost.projectid) , :title=>"Delete Project",
                                            data: {Confirm: "Are You Sure You want To Delete \nProject Titled - #{@project['title']} ? \nPlease Confirm.", 
                                                title: "Confirm Deletion"},:class=>"btn btn-danger btn btn-large" do %>
                                            <span class='fas fa-trash-alt'></span>
                                        <%end%>
                                    <%end%> 
                                    </h2>          
                                <%end%>
                            <%else%>
                                <h2>
                                    <%= link_to prepEditproject_path(view: @project['projectid']), :class=>"btn btn-primary btn btn-large", :title=>"Edit Project" do %>
                                        <span class='fas fa-edit'></span>
                                    <%end%>
                                    <%= link_to addUserproject_path(proj: @project['projectid']), :class=>"btn btn-success btn btn-large", :title=>"Add Users To Project" do %>
                                        <span class='fas fa-user-edit'></span>
                                    <%end%>
                                    <%= link_to addAttachment_path(view: @project['projectid']), :class=>"btn btn-warning btn btn-large", :title=>"Add Attachment To Project" do %>
                                        <span class='fas fa-paperclip'></span>
                                    <%end%>
                                    <%= link_to createThread_path(view: @project['projectid']), :class=>"btn btn-info btn btn-large", :title=>"Add Thread To Project" do %>
                                        <span class='fas fa-comment-alt'></span>
                                    <%end%>
                                    <%= link_to addTask_path(view: @project['projectid']), :class=>"btn btn-success btn btn-large", :title=>"Add Task To Project" do %>
                                        <span class='fas fa-paper-plane'></span>
                                    <%end%>
                                    <%= link_to prepDeleteproject_path(view: @project['projectid']) , :title=>"Delete Project",
                                        data: {Confirm: "Are You Sure You want To Delete \nProject Titled - #{@project['title']} ? \nPlease Confirm.", 
                                            title: "Confirm Deletion"},:class=>"btn btn-danger btn btn-large" do %>
                                        <span class='fas fa-trash-alt'></span>
                                    <%end%>
                                </h2>
                            <%end%>
                            <p><%=simple_format(@project['description']) %></p>
                   </div>
                   
                </div>
                <div class="col-sm-4 bg-light"> 
                    <%= render "leftNavPost" %>
                </div>
            </div>
        </div>

    </body>
</html>
