
    <body style="background-color: gainsboro;">
    <%= render "nav" %>
        <div class="container-fluid mx-auto" style="background-color: white; padding: 10px;width: 95%;margin-top:60px">
            <div class="row" style="background-color: gainsboro; margin:5px">
                <div id="work">
                    <span class='fas fa-th-list btn btn-danger' data-toggle="collapse" data-target="#menus"></span>
                    <div id="menus" class="collapse">
                        <%= render "leftNav" %>
                    </div>
                </div>
                <div class="col-sm-9" style="background-color: white; padding: 10px;">
                    <div class="col-sm-12">
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <p>All Users Added To Project :  <%=@project[0].title%> 
                                <%= link_to readProjectPage_path(view: @project[0].projectid), :class=>"btn btn-info btn btn-large", :title=>"Read / Open Project" do %>
                                    <span class='fas fa-eye'></span>
                                <%end%><p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="col-sm-12 table-responsive" style="text-align:left;">
                                <table class="table table-hover table-striped ">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>SNo.</th>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <%  
                                        t = 1
                                        @projectUsers.each do |projuser| 
                                            post = User.find(projuser.userid)
                                    %>
                                        <tr>
                                            <td><%=t%></td>
                                            <td>
                                                <% if ! post.passport.attached? %>
                                                    <img src="/def_passport.jpg"  width="40px" 
                                                    class="rounded img-fluid img-thumbnail mx-auto d-block" />
                                                <% else %>
                                                    <%= image_tag post.passport , :width=>"40px" , :class => "rounded img-fluid img-thumbnail mx-auto d-block" %>
                                                <%end%>
                                            </td>
                                            <td><%=post.authorname%></td>
                                            <td><%=post.email%></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                    <% 
                                        t = t + 1
                                        end %>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                <div class="col-sm-3 bg-light"> 
                    <%= render "leftNavPost" %>
                </div>
            </div>
        </div>

    </body>
</html>
